<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<company_name>LEMEX</company_name>
	<project_name></project_name>
	
	<!--build_configuration>Debug</build_configuration-->
	<build_configuration>Release</build_configuration>
	
	<build_target>exe</build_target>
	<!--build_target>winexe</build_target-->
	<!--build_target>dll</build_target-->
	
	<icon_file_path></icon_file_path>
	
	<resource_files>
	</resource_files>
	
	<reference_files>
	</reference_files>
	
	<source_files>
	</source_files>
</configuration>